<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5e_desk_cleaner">
  <xacro:property name="ros_distro" value="$(optenv ROS_DISTRO humble)"/>
  <xacro:property name="is_humble" value="${ros_distro == 'humble'}"/>
  <xacro:arg name="name" default="ur5e_desk_cleaner"/>
  <xacro:arg name="ur_type" default="ur5e"/>
  <xacro:arg name="tf_prefix" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="sim_gazebo" default="false"/>
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/ur_to_robotiq_adapter.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>
  <link name="world"/>
  <link name="desk_pedestal">
    <visual>
      <geometry>
        <cylinder radius="0.06" length="0.75"/>
      </geometry>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
      <material name="pedestal_grey">
        <color rgba="0.4 0.4 0.4 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.06" length="0.75"/>
      </geometry>
      <origin xyz="0 0 0.375" rpy="0 0 0"/>
    </collision>
    <inertial>
      <mass value="20.0"/>
      <origin xyz="0 0 0.375"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.01"/>
    </inertial>
  </link>
  <joint name="world_to_pedestal" type="fixed">
    <parent link="world"/>
    <child link="desk_pedestal"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <xacro:if value="${is_humble}">
    <xacro:ur_robot
      name="$(arg name)"
      tf_prefix="$(arg tf_prefix)"
      parent="desk_pedestal"
      joint_limits_parameters_file="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"
      safety_limits="$(arg safety_limits)"
      use_fake_hardware="true"
      fake_sensor_commands="false"
      sim_gazebo="$(arg sim_gazebo)"
      generate_ros2_control_tag="true"
      initial_positions="${xacro.load_yaml(initial_positions_file)}"
    >
      <origin xyz="0 0 0.75" rpy="0 0 0"/>
    </xacro:ur_robot>
  </xacro:if>
  <xacro:ur_to_robotiq
    prefix="$(arg tf_prefix)"
    connected_to="$(arg tf_prefix)tool0"
  />
  <xacro:robotiq_gripper
    name="RobotiqGripperHardwareInterface"
    prefix="$(arg tf_prefix)"
    parent="$(arg tf_prefix)gripper_mount_link"
    use_fake_hardware="true"
    include_ros2_control="true"
    com_port="/dev/ttyUSB0"
  >
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>
  <xacro:if value="$(arg sim_gazebo)">
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <parameters>$(find desk_cleaner_bringup)/config/ur5e_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
